
<div id="modalRedDeBoletinesProvinciales" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Red de Boletines Provinciales</h4>
            </div>

            <div class="modal-body">
                <p>Al hacer clic en este enlace usted acepta ser dirigido fuera de nuestro sitio a la página <a href="http://www.reddeboletines.gob.ar/" target="_blank" >http://www.reddeboletines.gob.ar</a> cuya información es proporcionada por la Dirección Nacional del Sistema Argentino de Información Jurídica (SAIJ) dependiente del Ministerio de Justicia y Derechos Humanos de la Nación.</p>
            </div>

            <div class="modal-footer nomarginT">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <button type="button" class="btn btn-link btn-sm pull-left margin-0 btn-normativa" data-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <a href="http://www.reddeboletines.gob.ar/" target="_blank">
                            <button onclick="closeModal('modalRedDeBoletinesProvinciales')" class="btn btn-primary btn-sm margin-0 btn-normativa">Ir a Red de Boletines Provinciales</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>