.btn {
  color: var(--white) !important;
  outline: 0 !important;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-secondary {
  background-color: var(--secondary) !important;
}

.btn-tertiary {
  background-color: var(--tertiary) !important;
}

.text-button {
  z-index: 3;
}

.active.day {
  background-color: var(--primary) !important;
}

.btns-main-sections {
  background-color: #2f3736;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 1);
}
