<footer class="main-footer sticky-footer">
    <div class="container">
        <!-- Superior -->
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h5>Institucional</h5>
                <ul>
                    <li>
                        <a href="/estatica/institucional-mision" onclick="sendEstaticaEvent('Visto', 'Institucional Mision')">Misión, Visión e Historia</a>
                    </li>
                </ul>
                <h5>Sitios de Interés</h5>
                <ul>
                    <li>
                        <a href="https://reddeboletines.gob.ar/" target="_blank" class="puntero">Red de Boletines Oficiales de la R. A.</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h5>Productos y Servicios</h5>
                <ul>
{#                    <li><a href="/estatica/prodyserv-libros?servicio=separatas" onclick="sendEstaticaEvent('Visto', 'Prodyserv Separatas')">Separatas</a></li>#}
{#                    <li><a href="/estatica/prodyserv-libros?servicio=fallos" onclick="sendEstaticaEvent('Visto', 'Prodyserv Fallos')">Fallos Plenarios</a></li>#}
{#                    <li><a href="/estatica/prodyserv-libros?servicio=otras-publicaciones" onclick="sendEstaticaEvent('Visto', 'Prodyserv Otras')">Otras Publicaciones</a></li>#}
                    <li><a href="/estatica/publicar-tarifas" onclick="sendEstaticaEvent('Visto', 'Publicar Tarifas')">Tarifas de Publicación</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h5>Accesos</h5>
                <ul>
                    <li><a href="https://bfa.ar/" class="puntero">Blockchain</a></li>
                    <li><a href="https://www.boletinoficial.gob.ar/estatica/firma-digital" class="puntero">Firma digital</a></li>
                    {#<li><a href="https://en.boletinoficial.gob.ar" onclick="sendExternalLinkEvent(event);" target="_blank" rel="noopener noreferrer">Extranet Oficial</a></li>#}
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h5>Faq y Tutoriales</h5>
                <ul>
                    <li><a href="/estatica/faq-preguntas" onclick="sendEstaticaEvent('Visto', 'Faq Preguntas')">Preguntas Frecuentes</a></li>
                </ul>
                <h5>Contacto</h5>
                <div class="social-btns">
                    <a href="/contacto" onclick="sendContactoEvent('Visto', 'Contacto')">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="https://twitter.com/boletin_oficial" target="_blank" >
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/boletinoficialarg" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row visible-xs-block visible-sm-block">
            <div class="col-xs-6">
                <h5>Institucional</h5>
                <ul>
                    <li><a href="/estatica/institucional-mision" onclick="sendEstaticaEvent('Visto', 'Institucional Mision')">Misión, Visión e Historia</a></li>
                </ul>
                <h5>Productos y Servicios</h5>
                <ul>
{#                    <li><a href="/estatica/prodyserv-libros?servicio=separatas" onclick="sendEstaticaEvent('Visto', 'Prodyserv Separatas')">Separatas</a></li>#}
{#                    <li><a href="/estatica/prodyserv-libros?servicio=fallos" onclick="sendEstaticaEvent('Visto', 'Prodyserv Fallos')">Fallos Plenarios</a></li>#}
{#                    <li><a href="/estatica/prodyserv-libros?servicio=otras-publicaciones" onclick="sendEstaticaEvent('Visto', 'Prodyserv Otras')">Otras Publicaciones</a></li>#}
                    <li><a href="/estatica/publicar-tarifas" onclick="sendEstaticaEvent('Visto', 'Publicar Tarifas')">Tarifas de Publicación</a></li>
                </ul>
                <h5>Sitios de Interés</h5>
                <ul>
                    <li>
                        <a href="https://reddeboletines.gob.ar/" target="_blank" class="puntero">Red de Boletines Oficiales de la R. A.</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h5>Accesos</h5>
                <ul>
                    <li><a href="https://bfa.ar/" class="puntero">Blockchain</a></li>
                    <li><a href="https://www.boletinoficial.gob.ar/estatica/firma-digital" class="puntero">Firma digital</a></li>
                    {#<li><a href="https://en.boletinoficial.gob.ar" onclick="sendExternalLinkEvent(event);" target="_blank" rel="noopener noreferrer">Extranet Oficial</a></li>#}
                </ul>
                <h5>Faq y Tutoriales</h5>
                <ul>
                    <li><a href="/estatica/faq-preguntas" onclick="sendEstaticaEvent('Visto', 'Faq Preguntas')">Preguntas Frecuentes</a></li>
                </ul>
                <h5>Contacto</h5>
                <div class="social-btns">
                    <a href="/contacto" onclick="sendContactoEvent('Visto', 'Contacto')">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="https://twitter.com/boletin_oficial" target="_blank" >
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/boletinoficialarg" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Inferior -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                        <div class="col-md-6">
                          <p class="datos text-muted small">
                            <strong class="text-white">Secretaría<br/>Legal y Técnica</strong>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="datos text-muted small">
                            <strong class="text-white">Boletín Oficial <br/>de la República Argentina</strong>
                          </p>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-md-6">
                        <a href="http://www.redboa.org" onclick="sendExternalLinkEvent(event);" target="_blank">
                          <img class="red-boa form-group" alt="RED BOA" src="/images/red-boa.png">
                        </a>
                      </div>
                      <div class="col-md-6">
                        <a href="https://reddeboletines.gob.ar/" onclick="sendExternalLinkEvent(event);" target="_blank">
                          <img class="red-boa form-group" alt="RED BORA" src="/images/red-bora.png">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="datos text-muted small">
                            <strong>TELÉFONOS:</strong> 5218-8400 - 0810-345-BORA (2672)</p>
                        <p class="datos text-muted small">
                            <strong>SEDE CENTRAL: </strong>Suipacha 767, C.A.B.A. (C1008AAO)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="presidencia" alt="Presidencia de la Nación" src="/images/presidencia.png">
                        </div>
                    </div>
                    <p class="datos text-muted small">
							<span>Secretaría Legal y Técnica |
                            <strong>Dr. Dante Javier Herrera Bravo - Secretario</strong>
                            </span>
                    </p>
                    <p class="datos text-muted small">
							<span>Dirección Nacional del Registro Oficial |
							<strong>Dra. María Virginia Villamil - Directora Nacional</strong>
                            </span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                {# 
                    <a href="https://play.google.com/store/apps/details?id=ar.com.cys.bora" target="_blank"><img src="/images/playStoreFooter.png" style="max-height: 40px; margin-top:15px;" ></a>
                    <a href="https://itunes.apple.com/bo/app/boletín-oficial-de-la-república-argentina/id1108133269" target="_blank"><img src="/images/appStoreFooter.png" style="max-height: 47px;  margin-top:15px;" ></a>
                #}
            </div>
        </div>


    </div>

</footer>

<div class="back-top btn btn-default btn-sm hidden-xs" title="Volver arriba"><i class="fa fa-chevron-up"></i></div>