<div style="font-family: Arial, Helvetica, sans-serif">
    <p>Aviso compartido a través de la web del Boletín Oficial, para acceder hacer clic acá <a href="{{ urlAviso }}" target="_blank">{{ urlAviso }}</a></p>
    <p>Atentamente,</p>

    <br>

    <img style="height: 30px;" height="30" alt="Boletín Oficial de la República Argentina" src="{{ logo }}"/>
    <p style="font-size: 9px;"><b>TELÉFONOS: 5218-8400 - 0810-345-BORA (2672)</b></p>
    <p style="font-size: 9px;"><b>SEDE CENTRAL: Suipacha 767, C.A.B.A. (C1008AAO)</b></p>

</div>
